<!DOCTYPE html>
<html>
{% include "header.html" %}
<body class="decoupled-body">
{% include "flash_container.html" %}

<div id="decoupled-background"></div>
    {% block content %}
    {% endblock content %}
{% include "scripts.html" %}

<!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</body>
</html>