<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page_title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!-- choices stylesheet -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/choices.js/public/assets/styles/choices.min.css') }}">
    <!-- Custom Scrollbar -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='vendor/overlayscrollbars/css/OverlayScrollbars.min.css') }}">
    <!-- theme stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.default.css') }}" id="theme-stylesheet">
    <!-- common stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common_v2.css') }}">
    <!-- decoupled stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.decoupled.css') }}">
    <!-- alert stylesheet -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/alerts.css') }}">
    <!-- page icon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename=page_icon_path) }}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js') }}"></script>
    <script src="{{ url_for('static', filename='https://oss.maxcdn.com/respond/1.4.2/respond.min.js') }}"></script>
    <![endif]-->
</head>