<!DOCTYPE html>
<html>
{% include "header.html" %}
<body>
{% include "flash_container.html" %}

<!-- Side Navbar -->
{% macro create_sidebar_user_card(user_data) %}
<li>
    <img class="round-avatar" src="{{ url_for('static', filename=user_data['user_avatar']) }}" alt="person">
</li>
<li>
    <img class="menu-short-icon" src="{{ url_for('static', filename=page_icon_path) }}"></img>
</li>
<li>
    <a href="#">
        <span class="menu-short-text">
            {{ user_data['user_acronym'] }}
        </span>
        <span class="menu-long-text">
            {{ user_data['user_name']  }} <br> {{ user_data['user_role'] }}
        </span>
    </a>
</li>
{% endmacro %}

{% macro create_sidebar_menu_chooser(menu_data) %}
    <img class="header-img" src="{{ url_for('static', filename=page_icon_path) }}">
{% endmacro %}

{% macro render_icon(icon_href, type) %}
    {% if type == 'fa' %}
        <i class="fa fa-{{icon_href}}" ></i>
    {% elif type == 'xl' %}
        <svg class="svg-icon" ><use xlink:href="{{icon_href}}"></use></svg>
    {% elif type == 'lc' %}
        <div style="text-align: center;"><img class="local" src="{{ url_for('static', filename='img/icons/'+icon_href) }}" alt='IMG'></div>
    {% endif %}
{% endmacro %}

<nav id="main-menu" class="main-menu" onclick="switchContent('main-menu');">
            <ul class="header" onclick="event.cancelBubble=true;if (event.stopPropagation) event.stopPropagation();">
                {% if user_config is defined %}
                    <h1>{{current_user}}</h1>
                    {{ create_sidebar_user_card(current_user) }}
                {% else %}
                    {{ create_sidebar_menu_chooser(menus) }}
                {% endif %}
            </ul>
            <ul>
                {% for menu in menus %}
            <li class="spacer" onclick="switchContent('main-menu');"><hr></li>
            {% for entry in menus[menu] if entry != '#meta' %}
                {% if 'href' in menus[menu][entry] %}
                    <li onclick="event.cancelBubble=true;if (event.stopPropagation) event.stopPropagation();"><a {% if 'dropdown' in menus[menu][entry] %} href={{ menus[menu][entry]['href'] }} class='dropdown-hyperlink' onclick=toggleDropdown('{{menus[menu][entry]['href'][1:]}}'); {% else %} href={{ url_for(menus[menu][entry]['href']) }} {% endif %}>
                        {% if 'icon' in menus[menu][entry] %}
                            {{ render_icon(menus[menu][entry]['icon'], menus[menu][entry]['type']) }}
                        {% endif %}
                        <span class="menu-short-text">{{ entry }} </span>
                        {% if 'dropdown' in menus[menu][entry] %}
                        <span class="on"> &#x25BC </span>
                        <span class="off"> &#x25B2 </span>
                        {% endif %}
                        <span class="menu-long-text">{{ entry }} </span>
                     </a>
                    {% if 'dropdown' in menus[menu][entry] %}
                        <ul class="dropdown" id={{ menus[menu][entry]['href'][1:] }}>
                        {% for dropdown_entry in menus[menu][entry]['dropdown'] %}
                            <li><a href={{ url_for(menus[menu][entry]['dropdown'][dropdown_entry]['href']) }}>
                            {% if 'icon' in menus[menu][entry]['dropdown'][dropdown_entry] %}
                               <i class= "fa fa-{{ menus[menu][entry]['dropdown'][dropdown_entry]['icon'] }}" ></i>

                            {% endif %}
                            <span class="menu-short-text"> {{ dropdown_entry }}</span>
                        <span class="menu-long-text"> {{ dropdown_entry }}</span>
                                 </a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                     </li>
                {% endif %}
            {% endfor %}


    {% endfor %}
    </ul>
        </nav>
<!-- Page Content -->
    <div id="page-content-menu">
        <table>
            <tr>
                <th>
                    <button class="small-pgm-button" onclick="switchContent('main-menu');"><svg class="svg-icon"><use xlink:href="#menu-1"></use></svg></button>
                </th>
            </tr>
        </table>
    </div>
<div id="page-content">
    {% block content %}
    {% endblock content %}
    <footer class="main-footer">
    </footer>
</div>
{% include "scripts.html" %}

<!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</body>

</html>