<script>
function switchContent(id) {
 if (id == "main-menu") {
  if (document.getElementById("main-menu").className == "main-menu") {
   document.getElementById("main-menu").className = "main-menu-toggled"
  } else {
   document.getElementById("main-menu").className = "main-menu"
   }
 }
}
</script>

<script>
function toggleDropdown(id) {
  if (document.getElementById(id).className == "dropdown") {
   document.getElementById(id).className  = "dropdown-toggled"
   if (document.getElementById(id).previousElementSibling.className == "dropdown-hyperlink") {
        document.getElementById(id).previousElementSibling.className = "dropdown-hyperlink-toggled"
   }
  } else {
   document.getElementById(id).className  = "dropdown"
   if (document.getElementById(id).previousElementSibling.className == "dropdown-hyperlink-toggled") {
        document.getElementById(id).previousElementSibling.className = "dropdown-hyperlink"
   }
  }
   for (x of Array.from(document.getElementById(id).previousElementSibling.getElementsByTagName("span"))) {
        if (x.className == "off") {
            x.className = "on"
        }
        else if (x.className == "on") {
            x.className = "off"
        }
   }
}
</script>

<script>
      // ------------------------------------------------------- //
      // Taken from https://bootstrapious.com/p/bootstrap-4-dashboard //
      //   Inject SVG Sprite -
      //   see more here
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {

          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      // this is set to BootstrapTemple website as you cannot
      // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
      // while using file:// protocol
      // pls don't forget to change to your domain :)
      injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    function delete_flash(flash){
        $(flash).parent().remove()
    }
</script>

{% for script_string in scripts %}
    <script> {{ script_string|safe }} </script>
{% endfor %}