/*
Taken from https://blog.teclado.com/flashing-messages-with-flask/
*/
.alert {
  padding: 12px;
  border-radius: 3px;
  font-size: 1.2rem;
  margin-bottom: 16px;
  border-width: 2px;
  border-style: solid;
}

.alert-error {
  border-color: black;
  background-color: red;
  color: white;
}

.alert-warning {
  border-color: black;
  background-color: orange;
  color: black;
}

.alert-info {
  border-color: black;
  background-color: yellow;
  color: black;
}
