:root {
    --color-menu-primary-background: #393836;
    --color-menu-secundary-background: #292929;
    --color-menu-hover-background: #33b35a;
    --color-menu-default-text: #9c9c9b;
    --color-menu-hover-text: #fff;

    --width-menu-untoggled: 86px;
    --width-menu-toggled: 240px;
}